@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
    @apply text-zinc-700;
    @apply dark:text-zinc-100;
    @apply bg-stone-200;
    @apply dark:bg-stone-950;
    @apply m-0;
    @apply p-0;
  }
  code {
    font-family: "MiSans VF";
  }
}


a {
  text-decoration: none !important;
}

a.link {
  background: linear-gradient(rgba(68, 153, 238, 0.4), rgba(68, 153, 238, 0.4))
    no-repeat center bottom / 100% 2px;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  @apply font-semibold;
  @apply p-1;
}

a.link:hover {
  @apply rounded-lg;
  background: linear-gradient(
      0deg,
      rgba(68, 153, 238, 0.4),
      rgba(68, 153, 238, 0.4)
    )
    no-repeat left 100%/100% 100%;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .link {
    background: linear-gradient(rgba(68, 153, 238, 0.4), rgba(68, 153, 238, 0.4))
      no-repeat center bottom / 100% 2px;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    @apply p-1;
  }
  .link:hover {
    @apply rounded-lg;
    background: linear-gradient(
        0deg,
        rgba(68, 153, 238, 0.4),
        rgba(68, 153, 238, 0.4)
      )
      no-repeat left 100%/100% 100%;
  }
}