@tailwind base;
@tailwind components;
@tailwind utilities;

p > code:not([class]),
li > code:not([class]) {
  font-size: 85%;
  @apply bg-indigo-800;
  @apply font-semibold;
  padding: 0.2em;
  border-radius: 4px;
  color: var(--text-code);
}

article{
  line-height: 2;
  word-break: break-word;
  white-space: pre-line;

}

blockquote {
  padding: 1rem;
  @apply bg-zinc-600;
  @apply rounded-2xl
}
ul{
  list-style: none;
}
li {
  margin-left: 1rem;
}

article > h2{
  @apply text-3xl;
  @apply font-bold;
}

article > h3{
  @apply text-2xl;
  @apply font-semibold;
}

article > h4{
  @apply text-xl;
  @apply font-medium;
}

article > h5{
  @apply text-lg;
  @apply font-normal;
}
.shiki {
  @apply p-4;
  @apply pt-2;
  @apply pl-7;
  @apply rounded-2xl;
  @apply overflow-x-scroll;
  @apply flex;
  @apply items-start;
}
pre>code:before{
  content: attr(data-lang);
  @apply text-2xl;
  @apply font-bold;
  @apply opacity-50;
  @apply absolute;
  @apply right-[calc(1.25rem+.5rem)];
}
code{
  counter-reset: step;
  counter-increment: step 0;
}
pre>code>span:before{
  background-color: var(--shiki-dark-bg);
  content: counter(step);
  counter-increment: step;
  left: 1.25rem;
  padding: 0 1em 0 .5em;
  position: absolute;
  text-align: right;
  width: 1em;
  color: #ABB2BF
}


.codeblock-header {
    gap: 0.5em;
    position: sticky;
    top: 0;
    height: 0;
    background: linear-gradient(var(--c-bg-2), transparent);
    z-index: 2;
}

figcaption {
    display: inline-block;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    margin: 0 1em;
    padding: 0.2em 0.8em;
    border-radius: 0 0 8px 8px;
    background-color: var(--c-border);
    z-index: 1;
}

.language, .operations {
    position: absolute;
    opacity: 0.4;
    right: 0;
    padding: 0.2em 0.8em;
    transition: opacity 0.2s;
}

.operations {
    gap: 0.5em 1em;
    opacity: 0;
}
.operations> button {
    opacity: 0.4;
    color: inherit;
    transition: opacity 0.2s;
    cursor: pointer;
}
.operations> button :hover {
            opacity: 1;
        }

.operations, button {
            margin-left: 1em;
}

/* &:hover {
    .language {
        opacity: 0;
    }

    .operations {
        opacity: 1;
    }
} */

pre {
    --line-number-width: 0px;
    overflow: auto;
    padding: 1rem;
}

.shiki > pre {
    --line-number-width: 4em;

    padding-left: var(--line-number-width);
}
